{% extends 'base.html' %}

{% block content %}
    <h1>
        {% block title %}
        {{ gid }} validation summary
        {% endblock %}
    </h1>
    {% block main %}
    <hr color="purple" align="left" width="40%" size="1">
    Validation status: {{ summary[1] }}
    <br>
    Reviewed: {{ summary[0] }}
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    Volunteer's conclusion: {{ summary[2] }}
    <br>
    Volunteer's comment: {{ comments[0] }}
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    Noise mitigation for H1: {{ nmsummary[0] }}
    <br>
    Noise mitigation status for H1: {{ nmsummary[1] }}
    <br>
    <br>
    Noise mitigation for L1: {{ nmsummary[2] }}
    <br>
    Noise mitigation status for L1: {{ nmsummary[3] }}
    <br>
    <br>
    Noise mitigation for V1: {{ nmsummary[4] }}
    <br>
    Noise mitigation status for V1: {{ nmsummary[5] }}
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    DQR: <a href="{{ urls[0] }}">{{ urls[0] }}</a>
    <br>
    Git issue: <a href="{{ urls[1] }}">{{ urls[1] }}</a>
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    Validator: {{ contacts[0] }} (<a href="mailto:{{ contacts[1] }}">{{ contacts[1] }}</a>)
    <br>
    DetChar expert: {{ contacts[2] }} (<a href="mailto:{{ contacts[3] }}">{{ contacts[3] }}</a>)
    <br>
    Noise mitigation: {{ contacts[4] }} (<a href="mailto:{{ contacts[5] }}">{{ contacts[5] }}</a>)
    <br>
    Noise mitigation review: {{ contacts[6] }} (<a href="mailto:{{ contacts[7] }}">{{ contacts[7] }}</a>)
    <br>
    Review: {{ contacts[8] }} (<a href="mailto:{{ contacts[9] }}">{{ contacts[9] }}</a>)
    <br>
    Lead: {{ contacts[10] }} (<a href="mailto:{{ contacts[11] }}">{{ contacts[11] }}</a>)
    <br>
    Lead: {{ contacts[12] }} (<a href="mailto:{{ contacts[13] }}">{{ contacts[13] }}</a>)
    {% endblock %}
{% endblock %}
