{% extends 'base.html' %}

{% block content %}
    <h1>
        {% block title %}
        {{ summary[0] }} validation summary
        {% endblock %}
    </h1>
    {% block main %}
    Validation status: {{ summary[1] }}
    <br>
    Reviewed: {{ summary[27] }}
    <br>
    <br>
    Volunteer's conclusion: {{ summary[2] }}
    <br>
    Volunteer's comment: {{ summary[3] }}
    <br>
    <br>
    Noise mitigation for H1: {{ summary[4] }}
    <br>
    Noise mitigation status for H1: {{ summary[5] }}
    <br>
    <br>
    Noise mitigation for L1: {{ summary[6] }}
    <br>
    Noise mitigation status for L1: {{ summary[7] }}
    <br>
    <br>
    Noise mitigation for V1: {{ summary[8] }}
    <br>
    Noise mitigation status for V1: {{ summary[9] }}
    <br>
    <br>
    Volunteer's validation form: <a href="{{ summary[10] }}">{{ summary[10] }}</a>
    <br>
    DQR: <a href="{{ summary[11] }}">{{ summary[11] }}</a>
    <br>
    Git issue: <a href="{{ summary[12] }}">{{ summary[12] }}</a>
    <br>
    <br>
    Validator: {{ summary[13] }} (<a href="mailto:{{ summary[14] }}">{{ summary[14] }}</a>)
    <br>
    DetChar expert: {{ summary[15] }} (<a href="mailto:{{ summary[16] }}">{{ summary[16] }}</a>)
    <br>
    Noise mitigation: {{ summary[17] }} (<a href="mailto:{{ summary[18] }}">{{ summary[18] }}</a>)
    <br>
    Noise mitigation review: {{ summary[19] }} (<a href="mailto:{{ summary[20] }}">{{ summary[20] }}</a>)
    <br>
    Review: {{ summary[21] }} (<a href="mailto:{{ summary[22] }}">{{ summary[22] }}</a>)
    <br>
    Lead: {{ summary[23] }} (<a href="mailto:{{ summary[24] }}">{{ summary[24] }}</a>)
    <br>
    Lead: {{ summary[25] }} (<a href="mailto:{{ summary[26] }}">{{ summary[26] }}</a>)
    {% endblock %}
{% endblock %}
