{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} What is EVforms?{% endblock %}</h1>
    {% block main %}
    EVforms website is used to automate the process of DetChar event validation. To do that, the website contains forms that event validation volunteers, noise mitigation review team and glitch subtraction team should fill out.
    <br>
    <br>
    Guidelines on how to fill these forms can be found <a href="https://ldas-jobs.ligo.caltech.edu/~dqr/event_validation/EVforms/">here</a>.
    <br>
    <br>
    If you have any questions, please contact Ronaldas <a href="mailto:ronaldas.macas@ligo.org">(ronaldas.macas@ligo.org)</a> or Sidd <a href="mailto:siddharth.soni@ligo.org">(siddharth.soni@ligo.org)</a>
    {% endblock %}

{% endblock %}
