{% extends 'base.html' %}


<h1>{% block title %}
    O4 event validation: {{ gid }}
    {% endblock %}</h1>

{% block content %}
    <html>
      <head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      </head>
      <body>
        <div class="container"><br>
          <center>
              <h2>{{ gid }} event validation form</h2>
          </center>
        </div>

        <div class=container><br>
        <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <form  action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
              <label for="name">Name:</label>
                <input type="text" class="form-control" name="name">
              <br>
              <label for="email">Email:</label>
                <input type="text" class="form-control" name="email">
              <br>
              <label for="notes">Notes:</label>
                <input type="text" class="form-control" name="notes">
              <br>
              <br>
              <h4> Hanford </h4>
              <br>
              <label for="h1_val">Validation conclusion:</label>
              <select class="form-control" name="h1_val">
                <option value="0">Not observing</option>
                <option value="1">No DQ issues</option>
                <option value="2">DQ issues</option>
              </select>
              <br>
              <label for="h1_low_noise">Detector is in low noise:</label>
              <select class="form-control" name="h1_low_noise">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br>
              <label for="h1_noise_tstart">Noise box start GPS time:</label>
                <input type="text" class="form-control" name="h1_noise_tstart">
              <br>
              <label for="h1_noise_tend">Noise box end GPS time:</label>
                <input type="text" class="form-control" name="h1_noise_tend">
              <br>
              <label for="h1_noise_flow">Noise box f_low (min=10) in Hz:</label>
                <input type="text" class="form-control" name="h1_noise_flow">
              <br>
              <label for="h1_noise_fhigh">Noise box f_high (max=2048) in Hz:</label>
                <input type="text" class="form-control" name="h1_noise_fhigh">
              <br>
              <br>
              <h4> Livingston </h4>
              <br>
              <label for="l1_val">Validation conclusion:</label>
              <select class="form-control" name="l1_val">
                <option value="0">Not observing</option>
                <option value="1">No DQ issues</option>
                <option value="2">DQ issues</option>
              </select>
              <br>
              <label for="l1_low_noise">Detector is in low noise:</label>
              <select class="form-control" name="l1_low_noise">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br>
              <label for="l1_noise_tstart">Noise box start GPS time:</label>
                <input type="text" class="form-control" name="l1_noise_tstart">
              <br>
              <label for="l1_noise_tend">Noise box end GPS time:</label>
                <input type="text" class="form-control" name="l1_noise_tend">
              <br>
              <label for="l1_noise_flow">Noise box f_low (min=10) in Hz:</label>
                <input type="text" class="form-control" name="l1_noise_flow">
              <br>
              <label for="l1_noise_fhigh">Noise box f_high (max=2048) in Hz:</label>
                <input type="text" class="form-control" name="l1_noise_fhigh">
              <br>
              <br>
              <h4> Virgo </h4>
              <br>
              <label for="v1_val">Validation conclusion:</label>
              <select class="form-control" name="v1_val">
                <option value="0">Not observing</option>
                <option value="1">No DQ issues</option>
                <option value="2">DQ issues</option>
              </select>
              <br>
              <label for="v1_low_noise">Detector is in low noise:</label>
              <select class="form-control" name="v1_low_noise">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br>
              <label for="v1_noise_tstart">Noise box start GPS time:</label>
                <input type="text" class="form-control" name="v1_noise_tstart">
              <br>
              <label for="v1_noise_tend">Noise box end GPS time:</label>
                <input type="text" class="form-control" name="v1_noise_tend">
              <br>
              <label for="v1_noise_flow">Noise box f_low (min=10) in Hz:</label>
                <input type="text" class="form-control" name="v1_noise_flow">
              <br>
              <label for="v1_noise_fhigh">Noise box f_high (max=2048) in Hz:</label>
                <input type="text" class="form-control" name="v1_noise_fhigh">
        </div>
            <br>
            <center>
              <button type="submit" class="btn btn-success">Submit</button>
            </center>
          </form>
          <br>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

            {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                    {{ message }}
                    </div>
            {% endfor %}
                {% endif %}
            {% endwith %}

        </div>
        <br>
        </div>
        </div>
      </body>
    </html>
{% endblock %}
