{% extends 'base.html' %}


<h1>{% block title %}
    O4 event validation: {{ gid }}
    {% endblock %}</h1>

{% block content %}
    <html>
      <head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      </head>
      <body>
        <div class="container"><br>
          <center>
              <h2>{{ gid }} noise mitigation form</h2>
          </center>
        </div>

        <div class=container><br>
        <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <form  action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
              <label for="name">Name:</label>
                <input type="text" class="form-control" name="name">
              <br>
              <label for="email">Email:</label>
                <input type="text" class="form-control" name="email">
              <br>
              <label for="comment">Comment:</label>
                <input type="text" class="form-control" name="comment">
              <br>
              <br>
              <h4> Hanford </h4>
              <br>
              <label for="h1_det">Recommend the detector for analyses:</label>
              <select class="form-control" name="h1_det">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br>
              <label for="h1_frame">Cleaned frame type:</label>
               <input type="text" class="form-control" name="h1_frame">
              <br>
              <label for="h1_channel">Cleaned channel name:</label>
               <input type="text" class="form-control" name="h1_channel">
              <br>
              <br>
              <label for="h1_fstart">Lowest analysis frequency (min=10) in Hz:</label>
                <input type="text" class="form-control" name="h1_fstart">
              <br>
              <label for="h1_fend">Highest frequency (max=2048) in Hz:</label>
                <input type="text" class="form-control" name="h1_fend">
              <br>
              <label for="h1_tstart">Start time for analysis in GPS time:</label>
                <input type="text" class="form-control" name="h1_tstart">
              <br>
              <label for="h1_tend">End time for analysis in GPS time:</label>
                <input type="text" class="form-control" name="h1_tend">
              <br>
              <label for="h1_duration">Duration in seconds:</label>
                <input type="text" class="form-control" name="h1_duration">
              <br>
              <br>
              <h4> Livingston </h4>
              <br>
              <label for="l1_det">Recommend the detector for analyses:</label>
              <select class="form-control" name="l1_det">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br>
              <label for="l1_frame">Cleaned frame type:</label>
               <input type="text" class="form-control" name="l1_frame">
              <br>
              <label for="l1_channel">Cleaned channel name:</label>
               <input type="text" class="form-control" name="l1_channel">
              <br>
              <br>
              <label for="l1_fstart">Lowest analysis frequency (min=10) in Hz:</label>
                <input type="text" class="form-control" name="l1_fstart">
              <br>
              <label for="l1_fend">Highest frequency (max=2048) in Hz:</label>
                <input type="text" class="form-control" name="l1_fend">
              <br>
              <label for="l1_tstart">Start time for analysis in GPS time:</label>
                <input type="text" class="form-control" name="l1_tstart">
              <br>
              <label for="l1_tend">End time for analysis in GPS time:</label>
                <input type="text" class="form-control" name="l1_tend">
              <br>
              <label for="l1_duration">Duration in seconds:</label>
                <input type="text" class="form-control" name="l1_duration">
              <br>
              <br>
              <h4> Virgo </h4>
              <br>
              <label for="v1_det">Recommend the detector for analyses:</label>
              <select class="form-control" name="v1_det">
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br>
              <label for="v1_frame">Cleaned frame type:</label>
               <input type="text" class="form-control" name="v1_frame">
              <br>
              <label for="v1_channel">Cleaned channel name:</label>
               <input type="text" class="form-control" name="v1_channel">
              <br>
              <br>
              <label for="v1_fstart">Lowest analysis frequency (min=10) in Hz:</label>
                <input type="text" class="form-control" name="v1_fstart">
              <br>
              <label for="v1_fend">Highest frequency (max=2048) in Hz:</label>
                <input type="text" class="form-control" name="v1_fend">
              <br>
              <label for="v1_tstart">Start time for analysis in GPS time:</label>
                <input type="text" class="form-control" name="v1_tstart">
              <br>
              <label for="v1_tend">End time for analysis in GPS time:</label>
                <input type="text" class="form-control" name="v1_tend">
              <br>
              <label for="v1_duration">Duration in seconds:</label>
                <input type="text" class="form-control" name="v1_duration">
            <br>
        </div>
            <br>
            <center>
              <button type="submit" class="btn btn-success">Submit</button>
            </center>
          </form>
          <br>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}

            {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">
                    {{ message }}
                    </div>
            {% endfor %}
                {% endif %}
            {% endwith %}

        </div>
        <br>
        </div>
        </div>
      </body>
    </html>
{% endblock %}
