{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Candidate events {% endblock %}</h1>
    {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p> <a href="{{ message['summary'] }}"><button> SUMMARY </button></a> </p>
            <p> <a href="{{ message['validation'] }}"><button>Event validation form</button></a>
            <a href="{{ message['review'] }}"><button>Review form </button></a>
            <a href="{{ message['glitch_request'] }}"><button>Glitch subtraction request form </button></a>
            <a href="{{ message['glitch_results'] }}"><button>Glitch subtraction results form </button></a></p>
            <a href="{{ message['gracedb'] }}"><button>GraceDB</button></a>
            <a href="{{ message['detectors'] }}"><button>Detectors</button></a>
            <a href="{{ message['dqr'] }}"><button>DQR</button></a>
            <a href="{{ message['issue'] }}"><button>GitLab issue</button></a>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %}
{{super()}}
{%- block footer %}
<footer><p>&copy;Copyright 2023 Ronaldas Macas, University of Portsmouth</p></footer>
{%- endblock footer %}
{% endblock %}
