{% extends 'base.html' %}

{% block content %}
    <h1>
        {% block title %}
        {{ gid }} validation summary
        {% endblock %}
    </h1>
    {% block main %}
    <hr color="purple" align="left" width="40%" size="1">
    Validation status: {{ summary[1] }}
    <br>
    Recommended detectors: {{ summary[3] }}
    <br>
    Reviewed: {{ summary[0] }}
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    Volunteer's conclusion: {{ summary[2] }}
    <br>
    Volunteer's comment: {{ comments[0] }}
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    Noise mitigation comment: {{ comments[1] }}
    <br>
    Review comment: {{ comments[2] }}
    <br>
    Other comment: {{ comments[3] }}
    <hr color="purple" align="left" width="40%" size="1">
    <b> Hanford </b>
    <br>
    <br>
    Noise mitigation required: {{ nmh1[0] }}
    <br>
    Frame type: {{ nmh1[2] }}
    <br>
    Channel: {{ nmh1[3] }}
    <br>
    Lowest analysis frequency (Hz): {{ vh1[0] }}
    <br>
    Highest analysis frequency (Hz): {{ vh1[1] }}
    <br>
    Start time for analysis (GPS time): {{ vh1[2] }}
    <br>
    End time for analysis (GPS time): {{ vh1[3] }}
    <br>
    Duration (seconds): {{ vh1[4] }}

    <hr color="purple" align="left" width="40%" size="1">
    <b> Livingston </b>
    <br>
    <br>
    Noise mitigation required: {{ nml1[0] }}
    <br>
    Frame type: {{ nml1[2] }}
    <br>
    Channel: {{ nml1[3] }}
    <br>
    Lowest analysis frequency (Hz): {{ vl1[0] }}
    <br>
    Highest analysis frequency (Hz): {{ vl1[1] }}
    <br>
    Start time for analysis (GPS time): {{ vl1[2] }}
    <br>
    End time for analysis (GPS time): {{ vl1[3] }}
    <br>
    Duration (seconds): {{ vl1[4] }}

    <hr color="purple" align="left" width="40%" size="1">
    <b> Virgo </b>
    <br>
    <br>
    Noise mitigation required: {{ nmv1[0] }}
    <br>
    Frame type: {{ nmv1[2] }}
    <br>
    Channel: {{ nmv1[3] }}
    <br>
    Lowest analysis frequency (Hz): {{ vv1[0] }}
    <br>
    Highest analysis frequency (Hz): {{ vv1[1] }}
    <br>
    Start time for analysis (GPS time): {{ vv1[2] }}
    <br>
    End time for analysis (GPS time): {{ vv1[3] }}
    <br>
    Duration (seconds): {{ vv1[4] }}

    <hr color="purple" align="left" width="40%" size="1">
    DQR: <a href="{{ urls[0] }}">{{ urls[0] }}</a>
    <br>
    Git issue: <a href="{{ urls[1] }}">{{ urls[1] }}</a>
    <br>
    <hr color="purple" align="left" width="40%" size="1">
    Validator: {{ contacts[0] }} (<a href="mailto:{{ contacts[1] }}">{{ contacts[1] }}</a>)
    <br>
    DetChar expert: {{ contacts[2] }} (<a href="mailto:{{ contacts[3] }}">{{ contacts[3] }}</a>)
    <br>
    Noise mitigation: {{ contacts[4] }} (<a href="mailto:{{ contacts[5] }}">{{ contacts[5] }}</a>)
    <br>
    Noise mitigation review: {{ contacts[6] }} (<a href="mailto:{{ contacts[7] }}">{{ contacts[7] }}</a>)
    <br>
    Review: {{ contacts[8] }} (<a href="mailto:{{ contacts[9] }}">{{ contacts[9] }}</a>)
    <br>
    Lead: {{ contacts[10] }} (<a href="mailto:{{ contacts[11] }}">{{ contacts[11] }}</a>)
    {% endblock %}
{% endblock %}
